Hercules.json
[
    {
        "id": "2959e7e2d80b4f28",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "H5000 PGN Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a5b408a3419fa32",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "Subscription",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "80db955d5ea99d2a",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Parse Data",
        "func": "if (typeof msg.payload === \"string\") {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.warn(\"Invalid JSON\");\n        return null;\n    }\n}\nconst data = msg.payload.Data;\nif (!Array.isArray(data)) return null;\n\nconst variableMap = flow.get(\"variableMap\") || {};\nfor (const item of data) {\n    if (item.valid && typeof item.id === \"number\" && typeof item.val === \"number\") {\n        for (const [expId, entry] of Object.entries(variableMap)) {\n            if (entry.goFreeId === item.id) {\n                flow.set(entry.name, item.val);\n                break;\n            }\n        }\n    }\n}\nflow.set(\"lastValidUpdate\", Date.now());\nreturn null;\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "6ac7ec695f440bb5",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "Ping",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "08cddb7be8963b11",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "9b6bfa7b98e9f587",
        "type": "websocket in",
        "z": "c6323837a7dd5adc",
        "name": "GoFree In",
        "server": "",
        "client": "33f231d42a38fa26",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "80db955d5ea99d2a",
                "2959e7e2d80b4f28"
            ]
        ]
    },
    {
        "id": "74c873f35f051e91",
        "type": "inject",
        "z": "c6323837a7dd5adc",
        "name": "Load Variables",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 125,
        "y": 140,
        "wires": [
            [
                "6c2c0cb840015f55"
            ]
        ]
    },
    {
        "id": "9ebf89d0a8f73c73",
        "type": "inject",
        "z": "c6323837a7dd5adc",
        "name": "Connect",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "ea6fe53edbc33f7e"
            ]
        ]
    },
    {
        "id": "ea6fe53edbc33f7e",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Handshake",
        "func": "function emit(msgObj, delay) {\n    setTimeout(() => {\n        node.send({ payload: msgObj });\n    }, delay);\n}\n\nconst variableMap = flow.get(\"variableMap\") || {};\nconst ids = Object.values(variableMap)\n    .map(entry => entry.goFreeId)\n    .filter(id => typeof id === \"number\");\n\nlet t = 0;\nemit({ Authentication: { id: 0 } }, t += 0);\nemit({ ProductIdReq: [] },      t += 200);\nemit({ FriendlyNameReq: [] },   t += 200);\nemit({ SettingInfoReq: [14,15,17,18,19,20,21] }, t += 200);\nemit({ EventReg: [5,10,21,24] }, t += 200);\nemit({ EventSet: [{ id: 21, action: \"request\" }] }, t += 200);\n\nconst dataReq = {\n    DataReq: ids.map(id => ({ id, repeat: true, inst: 0 }))\n};\nemit(dataReq, t += 200);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "3f178bdf7bd0aba1",
                "8a5b408a3419fa32"
            ]
        ]
    },
    {
        "id": "132f1951d5396733",
        "type": "inject",
        "z": "c6323837a7dd5adc",
        "name": "pong every 15 s",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "70bcd91fa37f7c0a"
            ]
        ]
    },
    {
        "id": "70bcd91fa37f7c0a",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Pong",
        "func": "msg.payload = \"pong\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 260,
        "wires": [
            [
                "3f178bdf7bd0aba1",
                "6ac7ec695f440bb5"
            ]
        ]
    },
    {
        "id": "9d05e818387854de",
        "type": "status",
        "z": "c6323837a7dd5adc",
        "name": "WS status",
        "scope": [
            "3f178bdf7bd0aba1"
        ],
        "x": 80,
        "y": 260,
        "wires": [
            [
                "53a1cc0a3ab4b509",
                "08cddb7be8963b11"
            ]
        ]
    },
    {
        "id": "53a1cc0a3ab4b509",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Auto-re-subscribe",
        "func": "const connected = msg.status?.text === \"connected\";\nconst lastSubscribed = flow.get(\"subscribed_ok\") || false;\nconst now = Date.now();\nconst lastTime = flow.get(\"subscribed_time\") || 0;\n\nif (connected) {\n    const timeSince = now - lastTime;\n\n    if (!lastSubscribed || timeSince > 10000) { // every 10s max\n        flow.set(\"subscribed_ok\", true);\n        flow.set(\"subscribed_time\", now);\n        return { payload: \"trigger\" };\n    }\n} else {\n    flow.set(\"subscribed_ok\", false);\n    flow.set(\"subscribed_time\", 0);\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "ea6fe53edbc33f7e"
            ]
        ]
    },
    {
        "id": "3f178bdf7bd0aba1",
        "type": "websocket out",
        "z": "c6323837a7dd5adc",
        "name": "GoFree Out",
        "server": "",
        "client": "33f231d42a38fa26",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c2c0cb840015f55",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Variables",
        "func": "const variableMap = {\n    4: { name: \"aws\", goFreeId: 140 },\n    2: { name: \"twa\", goFreeId: 141 },\n    3: { name: \"tws\", goFreeId: 142 },\n    5: { name: \"boatSpeed\", goFreeId: 6 }\n};\nflow.set(\"variableMap\", variableMap);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fbf55c3b0cc1778c",
        "type": "comment",
        "z": "c6323837a7dd5adc",
        "name": "Update IP to match B&G - 192.168.0.2 is default",
        "info": "",
        "x": 1320,
        "y": 160,
        "wires": []
    },
    {
        "id": "33f231d42a38fa26",
        "type": "websocket-client",
        "path": "ws://192.168.0.2:2053/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    }
]
