Hercules.json
[
    {
        "id": "05f3191c2a05d936",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "H5000 PGN Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "x": 1350,
        "y": 260,
        "wires": []
    },
    {
        "id": "5becb0a18e1346aa",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "Subscription",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 80,
        "wires": []
    },
    {
        "id": "2279e17ddef2e8ab",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Parse Data",
        "func": "if (typeof msg.payload === \"string\") {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.warn(\"Invalid JSON\");\n        return null;\n    }\n}\nconst data = msg.payload.Data;\nif (!Array.isArray(data)) return null;\n\nconst variableMap = flow.get(\"variableMap\") || {};\nfor (const item of data) {\n    if (item.valid && typeof item.id === \"number\" && typeof item.val === \"number\") {\n        for (const [expId, entry] of Object.entries(variableMap)) {\n            if (entry.goFreeId === item.id) {\n              \n                flow.set(entry.name, item.val);\n                flow.set(`${entry.name}_updated`, Date.now());\n                flow.set(\"lastValidUpdate\", Date.now());\n                break;\n            }\n        }\n    }\n}\nreturn null;\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 300,
        "wires": []
    },
    {
        "id": "8d1b2842d9c27332",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "Ping",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2150,
        "y": 180,
        "wires": []
    },
    {
        "id": "66886ebb724d6c8c",
        "type": "debug",
        "z": "c6323837a7dd5adc",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 120,
        "wires": []
    },
    {
        "id": "c50f5b85fc865f40",
        "type": "websocket in",
        "z": "c6323837a7dd5adc",
        "name": "GoFree In",
        "server": "",
        "client": "33f231d42a38fa26",
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "2279e17ddef2e8ab",
                "05f3191c2a05d936"
            ]
        ]
    },
    {
        "id": "b830cfa2ba5b8049",
        "type": "inject",
        "z": "c6323837a7dd5adc",
        "name": "Load Variables",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 1085,
        "y": 60,
        "wires": [
            [
                "7ad7da2d21bd3d0a"
            ]
        ]
    },
    {
        "id": "96e464272bbbf4ae",
        "type": "inject",
        "z": "c6323837a7dd5adc",
        "name": "Connect",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 1380,
        "y": 120,
        "wires": [
            [
                "eeb7bfde0d1d4a2a"
            ]
        ]
    },
    {
        "id": "eeb7bfde0d1d4a2a",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Handshake",
        "func": "function emit(msgObj, delay) {\n    setTimeout(() => {\n        node.send({ payload: msgObj });\n    }, delay);\n}\n\nconst variableMap = flow.get(\"variableMap\") || {};\nconst ids = Object.values(variableMap)\n    .map(entry => entry.goFreeId)\n    .filter(id => typeof id === \"number\");\n\nlet t = 0;\nemit({ Authentication: { id: 0 } }, t += 0);\nemit({ ProductIdReq: [] },      t += 200);\nemit({ FriendlyNameReq: [] },   t += 200);\nemit({ SettingInfoReq: [14,15,17,18,19,20,21] }, t += 200);\nemit({ EventReg: [5,10,21,24] }, t += 200);\nemit({ EventSet: [{ id: 21, action: \"request\" }] }, t += 200);\n\n// Build bulk DataReq\nconst dataReq = {\n    DataReq: ids.map(id => ({ id, repeat: true, inst: 0 }))\n};\nemit(dataReq, t += 200);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 120,
        "wires": [
            [
                "5b3c6a6b4d461a67",
                "5becb0a18e1346aa"
            ]
        ]
    },
    {
        "id": "badc3e702861ee32",
        "type": "inject",
        "z": "c6323837a7dd5adc",
        "name": "pong every 15 s",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1770,
        "y": 180,
        "wires": [
            [
                "0cee63c4ad90b011"
            ]
        ]
    },
    {
        "id": "0cee63c4ad90b011",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Pong",
        "func": "msg.payload = \"pong\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 180,
        "wires": [
            [
                "5b3c6a6b4d461a67",
                "8d1b2842d9c27332"
            ]
        ]
    },
    {
        "id": "99b545de23e7fcd4",
        "type": "status",
        "z": "c6323837a7dd5adc",
        "name": "WS status",
        "scope": [
            "5b3c6a6b4d461a67"
        ],
        "x": 1040,
        "y": 180,
        "wires": [
            [
                "b623191bd61aef7f",
                "66886ebb724d6c8c"
            ]
        ]
    },
    {
        "id": "b623191bd61aef7f",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Auto-re-subscribe",
        "func": "const connected = msg.status?.text === \"connected\";\nconst lastSubscribed = flow.get(\"subscribed_ok\") || false;\nconst now = Date.now();\nconst lastTime = flow.get(\"subscribed_time\") || 0;\n\nif (connected) {\n    const timeSince = now - lastTime;\n\n    if (!lastSubscribed || timeSince > 10000) { // every 10s max\n        flow.set(\"subscribed_ok\", true);\n        flow.set(\"subscribed_time\", now);\n        return { payload: \"trigger\" };\n    }\n} else {\n    flow.set(\"subscribed_ok\", false);\n    flow.set(\"subscribed_time\", 0);\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "eeb7bfde0d1d4a2a"
            ]
        ]
    },
    {
        "id": "5b3c6a6b4d461a67",
        "type": "websocket out",
        "z": "c6323837a7dd5adc",
        "name": "GoFree Out",
        "server": "",
        "client": "33f231d42a38fa26",
        "x": 2170,
        "y": 120,
        "wires": []
    },
    {
        "id": "7ad7da2d21bd3d0a",
        "type": "function",
        "z": "c6323837a7dd5adc",
        "name": "Variables",
        "func": "const variableMap = {\n    1: { name: \"BSP\", goFreeId: 42 },\n    2: { name: \"AWA\", goFreeId: 140 },\n    3: { name: \"AWS\", goFreeId: 46 },\n    4: { name: \"TWA\", goFreeId: 141 },\n    5: { name: \"TWS\", goFreeId: 47 },\n    6: { name: \"TWD\", goFreeId: 142 },\n    10: { name: \"Leeway\", goFreeId: 226 },\n    11: { name: \"Set\", goFreeId: 39 },\n    12: { name: \"Drift\", goFreeId: 40 },\n    15: { name: \"HDG\", goFreeId: 37 },\n    17: { name: \"Depth\", goFreeId: 77 },\n    18: { name: \"Heel\", goFreeId: 325 },\n    19: { name: \"Trim\", goFreeId: 123 },\n    22: { name: \"FstyLoad\", goFreeId: 393 },\n    48: { name: \"Lattitude\", goFreeId: 309 },\n    49: { name: \"Longitude\", goFreeId: 310 },\n    50: { name: \"COG\", goFreeId: 9 },\n    51: { name: \"SOG\", goFreeId: 41 },\n    238: { name: \"TargBSP\", goFreeId: 234 },\n    237: { name: \"TargTWA\", goFreeId: 228 },\n    173: { name: \"User1\", goFreeId: 217 },\n    174: { name: \"User 2\", goFreeId: 218 },\n    175: { name: \"User 3\", goFreeId: 219 },\n    176: { name: \"User 4\", goFreeId: 223 },\n    177: { name: \"User 5\", goFreeId: 364 },\n    178: { name: \"User 6\", goFreeId: 365 },\n    179: { name: \"User 7\", goFreeId: 366 },\n    180: { name: \"User 8\", goFreeId: 367 },\n    181: { name: \"User 9\", goFreeId: 368 },\n    182: { name: \"User 10\", goFreeId: 369 },\n    183: { name: \"User 11\", goFreeId: 370 },\n    184: { name: \"User 12\", goFreeId: 371 },\n    185: { name: \"User 13\", goFreeId: 372 },\n    186: { name: \"User 14\", goFreeId: 373 },\n    187: { name: \"User 15\", goFreeId: 374 },\n    188: { name: \"User 16\", goFreeId: 375 },\n    189: { name: \"User 17\", goFreeId: 481 },\n    190: { name: \"User 18\", goFreeId: 482 },\n    191: { name: \"User 19\", goFreeId: 483 },\n    192: { name: \"User 20\", goFreeId: 484 },\n    193: { name: \"User 21\", goFreeId: 485 },\n    194: { name: \"User 22\", goFreeId: 486 },\n    195: { name: \"User 23\", goFreeId: 487 },\n    196: { name: \"User 24\", goFreeId: 488 },\n    197: { name: \"User 25\", goFreeId: 489 },\n    198: { name: \"User 26\", goFreeId: 490 },\n    199: { name: \"User 27\", goFreeId: 491 },\n    200: { name: \"User 28\", goFreeId: 492 },\n    201: { name: \"User 29\", goFreeId: 493 },\n    202: { name: \"User 30\", goFreeId: 494 },\n    203: { name: \"User 31\", goFreeId: 495 }\n\n};\nflow.set(\"variableMap\", variableMap);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4787b7757ba5982e",
        "type": "comment",
        "z": "c6323837a7dd5adc",
        "name": "Update IP to match B&G - 192.168.0.2 is default",
        "info": "",
        "x": 2280,
        "y": 80,
        "wires": []
    },
    {
        "id": "33f231d42a38fa26",
        "type": "websocket-client",
        "path": "ws://10.10.6.10:2053/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    }
]